{% extends 'base.html.twig' %}

{% block title %}{{ 'ask-reset-password.title'|trans }}{% endblock %}

{% block body %}

    <div class="login">
        <div class="login__left">
            <div class="logo">
                <img src="./img/logo/logo-myrem.png" alt=""/>
            </div>
            <h1 class="title">{{ 'ask-reset-password.title'|trans }}</h1>
            <p class="punchline">
                {{ 'ask-reset-password.description'|trans }}
            </p>

            <form action="" method="POST">
                {% if errorMessage %}
                    <div class="alert alert-danger">{{ errorMessage }}</div>
                {% endif %}

                <div class="form-control">
                    <label for="inputEmail"
                           class="form-label">{{ 'ask-reset-password.form.inputEmail.label'|trans }}</label>
                    <div class="form-input">
                        <input type="text" name="email" id="inputEmail" class="form-control" required autofocus>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.875 4.6875H3.125C2.7106 4.6875 2.31317 4.85212 2.02015 5.14515C1.72712 5.43817 1.5625 5.8356 1.5625 6.25V18.75C1.5625 19.1644 1.72712 19.5618 2.02015 19.8549C2.31317 20.1479 2.7106 20.3125 3.125 20.3125H21.875C22.2894 20.3125 22.6868 20.1479 22.9799 19.8549C23.2729 19.5618 23.4375 19.1644 23.4375 18.75V6.25C23.4375 5.8356 23.2729 5.43817 22.9799 5.14515C22.6868 4.85212 22.2894 4.6875 21.875 4.6875ZM20.1562 6.25L12.5 11.5469L4.84375 6.25H20.1562ZM3.125 18.75V6.96094L12.0547 13.1406C12.1855 13.2313 12.3408 13.28 12.5 13.28C12.6592 13.28 12.8145 13.2313 12.9453 13.1406L21.875 6.96094V18.75H3.125Z"
                                  fill="#E0E0E0"/>
                        </svg>
                    </div>
                </div>
                <div class="u-txt-center">
                    <button type="submit"
                            class="button button--submit">{{ 'ask-reset-password.form.submit' | trans }}</button>
                </div>
            </form>

            <div class="copyright u-mtxl">Copyright MyRem Digital - {{ "now"| date("Y") }}</div>
        </div>
        <div class="login__right">
            <div class="logo">
                <img src="./img/logo/logo-novaxia.png" alt=""/>
            </div>
            <div class="">
                <svg width="542" height="568" viewBox="0 0 542 568" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.1"
                          d="M500.91 336.55C486.074 361.095 459.195 375.935 431.94 384.838C395.247 396.829 355.836 399.279 317.759 393.166C311.086 392.096 304.457 390.761 297.874 389.161C275.009 383.628 253.021 374.949 232.54 363.371C226.63 360.02 220.869 356.426 215.256 352.589C205.88 346.191 196.984 339.116 188.638 331.421C186.539 329.486 184.476 327.51 182.447 325.493C181.041 324.095 179.651 322.671 178.234 321.281C175.244 318.351 172.148 315.543 168.609 313.328C167.542 312.659 166.441 312.046 165.31 311.49C153.97 305.926 140.26 306.357 127.699 308.711C118.145 310.502 108.734 313.294 99.1947 315.025C94.9483 315.83 90.6508 316.335 86.3337 316.537C76.7071 316.86 67.1233 315.115 58.228 311.42L57.4679 311.103C56.1938 310.569 54.9344 309.997 53.6894 309.386L52.9346 309.013C51.7294 308.416 50.5541 307.785 49.4087 307.121L48.6591 306.692C47.4632 305.995 46.2968 305.267 45.1602 304.509C44.7498 304.244 44.3459 303.961 43.9454 303.692C37.4895 299.256 31.7476 293.861 26.9176 287.693C26.7773 287.524 26.6468 287.351 26.4924 287.181C25.822 286.305 25.167 285.417 24.5371 284.512C24.3033 284.178 24.0696 283.844 23.8414 283.501C23.0959 282.398 22.3824 281.274 21.7007 280.13C21.5979 279.964 21.5002 279.794 21.402 279.629C18.6124 274.903 16.4043 269.856 14.8258 264.6C14.7746 264.439 14.7284 264.274 14.6865 264.114C14.2109 262.446 13.7925 260.757 13.4311 259.046C13.2846 258.332 13.1491 257.601 13.0354 256.89C12.9936 256.678 12.9569 256.462 12.9245 256.251C11.2823 245.822 11.9693 235.203 12.946 224.671C13.0599 223.443 13.1737 222.216 13.2873 220.99C14.9421 203.963 16.8113 186.661 20.8814 170.094C20.8923 169.977 20.936 169.862 20.9652 169.752C22.3305 164.174 23.9941 158.673 25.9489 153.274C27.9961 147.608 30.4518 142.098 33.2968 136.788C40.3367 123.726 49.8877 112.131 60.2828 101.527C86.4638 74.8469 119.536 53.4779 156.456 47.7554C196.239 41.5938 238.579 54.9598 267.622 82.846C276.477 91.3475 284.232 101.161 294.428 107.994C303.33 113.947 314.107 117.069 324.517 114.001C333.119 111.464 338.671 110.324 347.942 111.69C367.13 114.57 385.776 120.318 403.256 128.742C403.963 129.077 404.668 129.421 405.369 129.765C450.895 152.209 488.14 191.866 504.953 239.947C505.399 241.217 505.827 242.496 506.238 243.783C516.087 274.334 517.44 309.196 500.91 336.55Z"
                          fill="#F26E22"/>
                    <path d="M125.95 27.8797L160.239 38.6256L150.147 70.8271L115.858 60.0812L125.95 27.8797Z"
                          fill="#3F3D56"/>
                    <path d="M98.3386 66.8868L160.649 86.4144L177.759 31.8199L115.448 12.2923L98.3386 66.8868ZM160.396 85.9287L98.8233 66.6322L115.701 12.778L177.274 32.0745L160.396 85.9287Z"
                          fill="#3F3D56"/>
                    <path d="M135.9 45.225L142.168 47.1893L140.196 53.4816L133.928 51.5173L135.9 45.225Z"
                          fill="#04668C"/>
                    <path d="M357.237 206.43C357.162 205.984 356.957 205.569 356.648 205.238C356.34 204.907 355.941 204.674 355.501 204.567L314.369 194.896C313.778 194.757 313.156 194.859 312.639 195.179C312.123 195.499 311.755 196.01 311.615 196.602L299.381 248.637C299.242 249.228 299.344 249.85 299.664 250.367C299.983 250.883 300.495 251.251 301.086 251.391L342.219 261.062C342.811 261.2 343.433 261.098 343.949 260.778C344.465 260.459 344.833 259.947 344.973 259.356L357.208 207.321C357.277 207.029 357.288 206.727 357.239 206.431L357.237 206.43ZM344.477 259.24C344.368 259.699 344.081 260.097 343.68 260.346C343.278 260.595 342.794 260.674 342.334 260.566L301.203 250.896C300.743 250.787 300.345 250.501 300.096 250.099C299.847 249.697 299.768 249.213 299.876 248.753L312.11 196.718C312.219 196.259 312.506 195.861 312.907 195.612C313.309 195.363 313.793 195.284 314.253 195.392L355.386 205.063C355.732 205.146 356.045 205.33 356.287 205.591C356.528 205.853 356.685 206.181 356.739 206.532C356.749 206.602 356.756 206.673 356.758 206.743C356.763 206.899 356.748 207.054 356.712 207.205L344.477 259.24Z"
                          fill="#E4E4E4"/>
                    <path d="M346.09 215.319L333.7 212.406C333.437 212.344 333.21 212.18 333.068 211.951C332.925 211.721 332.88 211.444 332.942 211.181C333.004 210.919 333.168 210.691 333.397 210.549C333.627 210.407 333.903 210.361 334.166 210.423L346.556 213.336C346.819 213.398 347.046 213.562 347.188 213.791C347.33 214.021 347.376 214.298 347.314 214.561C347.252 214.823 347.088 215.051 346.859 215.193C346.629 215.335 346.352 215.38 346.09 215.319Z"
                          fill="#F26E22"/>
                    <path d="M344.866 220.522L332.477 217.609C332.214 217.547 331.986 217.384 331.844 217.154C331.702 216.925 331.657 216.648 331.719 216.385C331.78 216.122 331.944 215.895 332.174 215.752C332.403 215.61 332.68 215.565 332.943 215.627L345.332 218.54C345.595 218.602 345.823 218.765 345.965 218.995C346.107 219.225 346.152 219.501 346.09 219.764C346.029 220.027 345.865 220.255 345.635 220.397C345.406 220.539 345.129 220.584 344.866 220.522Z"
                          fill="#F26E22"/>
                    <path d="M325.423 219.078L316.369 216.949C316.073 216.879 315.817 216.695 315.658 216.436C315.498 216.178 315.447 215.867 315.516 215.571L318.028 204.887C318.098 204.591 318.282 204.335 318.54 204.176C318.799 204.016 319.11 203.965 319.405 204.034L328.46 206.163C328.755 206.233 329.011 206.417 329.171 206.675C329.331 206.933 329.382 207.244 329.312 207.54L326.8 218.225C326.73 218.52 326.546 218.776 326.288 218.936C326.03 219.096 325.719 219.147 325.423 219.078Z"
                          fill="#F26E22"/>
                    <path d="M342.275 231.157L314.275 224.574C314.012 224.512 313.784 224.348 313.642 224.118C313.5 223.889 313.455 223.612 313.516 223.349C313.578 223.086 313.742 222.859 313.972 222.717C314.201 222.574 314.478 222.529 314.741 222.591L342.741 229.174C343.004 229.236 343.231 229.4 343.373 229.63C343.515 229.859 343.561 230.136 343.499 230.399C343.437 230.662 343.273 230.889 343.044 231.031C342.814 231.174 342.537 231.219 342.275 231.157Z"
                          fill="#CCCCCC"/>
                    <path d="M341.051 236.36L313.051 229.777C312.789 229.715 312.561 229.551 312.419 229.322C312.277 229.092 312.232 228.816 312.293 228.553C312.355 228.29 312.519 228.062 312.748 227.92C312.978 227.778 313.255 227.733 313.518 227.795L341.518 234.378C341.78 234.44 342.008 234.603 342.15 234.833C342.292 235.063 342.337 235.339 342.276 235.602C342.214 235.865 342.05 236.093 341.821 236.235C341.591 236.377 341.314 236.422 341.051 236.36Z"
                          fill="#CCCCCC"/>
                    <path d="M339.828 241.564L311.828 234.981C311.565 234.919 311.337 234.755 311.195 234.525C311.053 234.296 311.008 234.019 311.07 233.756C311.131 233.493 311.295 233.266 311.525 233.124C311.754 232.982 312.031 232.936 312.294 232.998L340.294 239.582C340.424 239.612 340.547 239.668 340.655 239.746C340.764 239.824 340.856 239.923 340.926 240.037C340.997 240.15 341.044 240.277 341.066 240.409C341.087 240.541 341.083 240.676 341.052 240.806C341.021 240.936 340.965 241.059 340.887 241.167C340.809 241.276 340.711 241.368 340.597 241.438C340.483 241.509 340.357 241.556 340.225 241.578C340.093 241.599 339.958 241.595 339.828 241.564Z"
                          fill="#CCCCCC"/>
                    <path d="M338.604 246.767L310.604 240.184C310.342 240.122 310.114 239.959 309.972 239.729C309.83 239.499 309.784 239.223 309.846 238.96C309.908 238.697 310.072 238.469 310.301 238.327C310.531 238.185 310.808 238.14 311.071 238.202L339.07 244.785C339.333 244.847 339.561 245.011 339.703 245.24C339.845 245.47 339.89 245.746 339.829 246.009C339.767 246.272 339.603 246.5 339.374 246.642C339.144 246.784 338.867 246.829 338.604 246.767Z"
                          fill="#CCCCCC"/>
                    <path d="M337.381 251.971L309.381 245.388C309.118 245.326 308.891 245.162 308.748 244.933C308.606 244.703 308.561 244.426 308.623 244.163C308.685 243.901 308.848 243.673 309.078 243.531C309.308 243.389 309.584 243.343 309.847 243.405L337.847 249.989C338.11 250.05 338.338 250.214 338.48 250.444C338.622 250.673 338.667 250.95 338.605 251.213C338.543 251.476 338.38 251.703 338.15 251.845C337.921 251.988 337.644 252.033 337.381 251.971Z"
                          fill="#CCCCCC"/>
                    <path d="M353.924 351.769C364.056 351.769 373.96 348.753 382.384 343.102C390.808 337.452 397.374 329.42 401.251 320.024C405.128 310.627 406.143 300.287 404.166 290.312C402.189 280.336 397.311 271.173 390.147 263.981C382.982 256.789 373.855 251.891 363.918 249.907C353.981 247.923 343.681 248.941 334.321 252.834C324.96 256.726 316.96 263.317 311.331 271.774C305.702 280.231 302.698 290.173 302.698 300.344C302.713 313.978 308.115 327.049 317.719 336.69C327.322 346.331 340.343 351.754 353.924 351.769ZM353.924 249.681C363.906 249.681 373.663 252.652 381.962 258.219C390.262 263.786 396.73 271.699 400.55 280.956C404.37 290.214 405.369 300.4 403.422 310.228C401.474 320.056 396.668 329.083 389.61 336.168C382.552 343.254 373.56 348.079 363.77 350.034C353.98 351.989 343.833 350.985 334.611 347.151C325.389 343.316 317.508 336.823 311.962 328.491C306.417 320.16 303.457 310.364 303.457 300.344C303.472 286.912 308.794 274.034 318.255 264.537C327.716 255.039 340.544 249.696 353.924 249.681V249.681Z"
                          fill="#3F3D56"/>
                    <path d="M355.442 325.104C341.82 325.104 330.778 314.019 330.778 300.344C330.778 286.67 341.82 275.584 355.442 275.584C369.064 275.584 380.107 286.67 380.107 300.344C380.107 314.019 369.064 325.104 355.442 325.104Z"
                          fill="#3F3D56" fill-opacity="0.7"/>
                    <path d="M527.04 9.01204e-05L541.692 8.49182L533.233 23.1999L518.581 14.7082L527.04 9.01204e-05Z"
                          fill="#3F3D56"/>
                    <path d="M355.442 306.439C352.089 306.439 349.371 303.71 349.371 300.344C349.371 296.978 352.089 294.249 355.442 294.249C358.795 294.249 361.513 296.978 361.513 300.344C361.513 303.71 358.795 306.439 355.442 306.439Z"
                          fill="#F26E22"/>
                    <path d="M211.857 121.486H88.4258V186.296H211.857V121.486Z" fill="#F2F2F2" fill-opacity="0.5"/>
                    <path d="M211.782 121.386H88.3508V128.9H211.782V121.386Z" fill="#E6E6E6" fill-opacity="0.5"/>
                    <path d="M209.547 131.946H91.2175V182.88H209.547V131.946Z" fill="white" fill-opacity="0.5"/>
                    <path d="M100.047 126.367C100.734 126.367 101.29 125.81 101.29 125.124C101.29 124.437 100.734 123.881 100.047 123.881C99.3609 123.881 98.8044 124.437 98.8044 125.124C98.8044 125.81 99.3609 126.367 100.047 126.367Z"
                          fill="white" fill-opacity="0.5"/>
                    <path d="M104.765 126.367C105.451 126.367 106.008 125.81 106.008 125.124C106.008 124.437 105.451 123.881 104.765 123.881C104.078 123.881 103.522 124.437 103.522 125.124C103.522 125.81 104.078 126.367 104.765 126.367Z"
                          fill="white" fill-opacity="0.5"/>
                    <path d="M95.3176 126.367C96.004 126.367 96.5604 125.81 96.5604 125.124C96.5604 124.437 96.004 123.881 95.3176 123.881C94.6312 123.881 94.0747 124.437 94.0747 125.124C94.0747 125.81 94.6312 126.367 95.3176 126.367Z"
                          fill="white" fill-opacity="0.5"/>
                    <path d="M185.796 146.872H117.752V149.905H185.796V146.872Z" fill="#F2F2F2" fill-opacity="0.5"/>
                    <path d="M142.013 154.453H117.752V157.486H142.013V154.453Z" fill="#F2F2F2" fill-opacity="0.5"/>
                    <path d="M166.084 162.035H117.752V165.068H166.084V162.035Z" fill="#F2F2F2" fill-opacity="0.5"/>
                    <path d="M310.072 148.115H172.291V220.46H310.072V148.115Z" fill="#E6E6E6" fill-opacity="0.5"/>
                    <path d="M309.988 148.003H172.207V156.39H309.988V148.003Z" fill="#F26E22" fill-opacity="0.5"/>
                    <path d="M306.758 158.966H175.384V216.423H306.758V158.966Z" fill="white" fill-opacity="0.5"/>
                    <path d="M185.263 153.563C186.029 153.563 186.65 152.941 186.65 152.175C186.65 151.409 186.029 150.788 185.263 150.788C184.496 150.788 183.875 151.409 183.875 152.175C183.875 152.941 184.496 153.563 185.263 153.563Z"
                          fill="white" fill-opacity="0.5"/>
                    <path d="M190.529 153.563C191.295 153.563 191.917 152.941 191.917 152.175C191.917 151.409 191.295 150.788 190.529 150.788C189.763 150.788 189.142 151.409 189.142 152.175C189.142 152.941 189.763 153.563 190.529 153.563Z"
                          fill="white" fill-opacity="0.5"/>
                    <path d="M179.983 153.563C180.749 153.563 181.37 152.941 181.37 152.175C181.37 151.409 180.749 150.788 179.983 150.788C179.217 150.788 178.596 151.409 178.596 152.175C178.596 152.941 179.217 153.563 179.983 153.563Z"
                          fill="white" fill-opacity="0.5"/>
                    <path d="M291.505 173.761H190.775V178.25H291.505V173.761Z" fill="#E6E6E6" fill-opacity="0.5"/>
                    <path d="M226.689 184.984H190.775V189.473H226.689V184.984Z" fill="#E6E6E6" fill-opacity="0.5"/>
                    <path d="M262.324 196.207H190.775V200.697H262.324V196.207Z" fill="#E6E6E6" fill-opacity="0.5"/>
                    <path d="M175.384 212.905H59.2275V273.895H175.384V212.905Z" fill="#F2F2F2" fill-opacity="0.5"/>
                    <path d="M175.313 212.81H59.1567V219.881H175.313V212.81Z" fill="#E6E6E6" fill-opacity="0.5"/>
                    <path d="M173.21 222.339H61.6768V270.789H173.21V222.339Z" fill="white" fill-opacity="0.5"/>
                    <path d="M70.1637 217.497C70.8097 217.497 71.3333 216.973 71.3333 216.327C71.3333 215.682 70.8097 215.158 70.1637 215.158C69.5178 215.158 68.9941 215.682 68.9941 216.327C68.9941 216.973 69.5178 217.497 70.1637 217.497Z"
                          fill="white" fill-opacity="0.5"/>
                    <path d="M74.6037 217.497C75.2496 217.497 75.7733 216.973 75.7733 216.327C75.7733 215.682 75.2496 215.158 74.6037 215.158C73.9577 215.158 73.4341 215.682 73.4341 216.327C73.4341 216.973 73.9577 217.497 74.6037 217.497Z"
                          fill="white" fill-opacity="0.5"/>
                    <path d="M65.7126 217.497C66.3585 217.497 66.8822 216.973 66.8822 216.327C66.8822 215.682 66.3585 215.158 65.7126 215.158C65.0666 215.158 64.543 215.682 64.543 216.327C64.543 216.973 65.0666 217.497 65.7126 217.497Z"
                          fill="white" fill-opacity="0.5"/>
                    <path d="M152.288 232.785C150.075 232.788 147.9 233.349 145.971 234.414C148.759 234.656 151.374 235.849 153.362 237.786C155.351 239.724 156.588 242.283 156.861 245.023C157.134 247.762 156.424 250.509 154.855 252.789C153.287 255.069 150.957 256.737 148.269 257.507C148.773 257.671 149.287 257.803 149.807 257.902C150.624 258.06 151.455 258.139 152.288 258.138C155.706 258.138 158.985 256.803 161.402 254.425C163.82 252.048 165.178 248.824 165.178 245.462C165.178 242.1 163.82 238.876 161.402 236.498C158.985 234.121 155.706 232.785 152.288 232.785Z"
                          fill="#E6E6E6" fill-opacity="0.5"/>
                    <path d="M147.269 233.793C146.467 233.632 145.65 233.552 144.832 233.554C141.576 233.55 138.444 234.8 136.084 237.043C133.724 239.287 132.319 242.352 132.158 245.604C131.997 248.856 133.094 252.045 135.22 254.51C137.347 256.976 140.341 258.528 143.581 258.846C146.822 259.164 150.06 258.223 152.625 256.218C155.19 254.213 156.886 251.297 157.36 248.076C157.834 244.855 157.051 241.575 155.172 238.916C153.293 236.256 150.463 234.422 147.269 233.793ZM148.126 257.539C146.504 258.01 144.8 258.128 143.129 257.884C141.458 257.64 139.858 257.04 138.439 256.124C137.02 255.208 135.815 253.999 134.904 252.576C133.993 251.154 133.398 249.553 133.16 247.881C132.922 246.209 133.045 244.505 133.523 242.885C134 241.265 134.82 239.767 135.926 238.491C137.033 237.215 138.401 236.192 139.937 235.491C141.474 234.79 143.143 234.427 144.832 234.427C145.181 234.427 145.526 234.444 145.868 234.47C148.607 234.712 151.175 235.904 153.129 237.839C155.082 239.774 156.298 242.331 156.566 245.068C156.834 247.805 156.137 250.549 154.596 252.826C153.054 255.103 150.766 256.77 148.126 257.539Z"
                          fill="#3F3D56" fill-opacity="0.5"/>
                    <path d="M152.778 243.636C152.355 241.818 151.214 240.239 149.606 239.246C147.998 238.252 146.054 237.925 144.2 238.337C144.019 238.378 143.832 238.427 143.667 238.477L145.376 245.846L152.886 244.172C152.854 244.001 152.819 243.814 152.778 243.636Z"
                          fill="#F26E22" fill-opacity="0.5"/>
                    <path d="M152.046 245.743L144.398 247.519L142.661 239.7C141.328 240.122 140.141 240.926 139.241 242.017C138.341 243.108 137.765 244.441 137.583 245.856C137.4 247.271 137.619 248.711 138.212 250.003C138.805 251.296 139.747 252.387 140.928 253.148C142.109 253.909 143.479 254.308 144.875 254.297C146.27 254.286 147.634 253.866 148.803 253.086C149.973 252.307 150.899 251.201 151.473 249.899C152.046 248.598 152.243 247.155 152.039 245.743H152.046Z"
                          fill="#F26E22" fill-opacity="0.5"/>
                    <g filter="url(#filter0_d_13608_14363)">
                        <path d="M343.972 77.8688C343.979 86.9534 341.787 95.9047 337.583 103.958C333.379 112.012 327.288 118.928 319.831 124.116C319.695 124.213 319.554 124.31 319.413 124.403C318.597 124.966 317.765 125.505 316.916 126.02C315.721 126.749 314.498 127.434 313.248 128.075C312.49 128.464 311.727 128.833 310.95 129.183C310.755 129.271 310.556 129.363 310.357 129.446C309.002 130.048 307.617 130.597 306.208 131.083C302.528 132.373 298.722 133.272 294.854 133.765C292.453 134.073 290.035 134.228 287.615 134.226C286.396 134.226 285.181 134.187 283.981 134.11C282.931 134.042 281.892 133.949 280.862 133.823C279.205 133.624 277.568 133.357 275.955 133.012C275.901 133.002 275.843 132.987 275.79 132.978C272.439 132.269 269.161 131.249 266 129.931C265.14 129.572 264.29 129.198 263.454 128.794C262.4 128.299 261.367 127.769 260.355 127.206C251.656 122.4 244.382 115.379 239.272 106.855C234.161 98.3313 231.396 88.6078 231.255 78.6705C231.114 68.7331 233.604 58.9352 238.471 50.2703C243.338 41.6054 250.41 34.3815 258.97 29.3312C267.529 24.2808 277.272 21.5836 287.21 21.5129C297.148 21.4422 306.928 24.0006 315.559 28.9287C324.189 33.8568 331.363 40.9794 336.353 49.5742C341.343 58.169 343.972 67.9305 343.972 77.8688Z"
                              fill="#F1F1F1"/>
                        <path d="M286.066 91.7583C293.017 91.7583 298.651 86.1239 298.651 79.1736C298.651 72.2233 293.017 66.5889 286.066 66.5889C279.116 66.5889 273.482 72.2233 273.482 79.1736C273.482 86.1239 279.116 91.7583 286.066 91.7583Z"
                              fill="#FFB8B8"/>
                        <path d="M280.862 133.823C279.205 133.624 277.568 133.357 275.955 133.012L277.485 98.5754L277.704 98.3471L280.837 95.0385H290.802L294.48 98.5997L294.791 98.9058L302.657 106.441L306.208 131.083C302.528 132.373 298.722 133.272 294.854 133.765C292.453 134.074 290.035 134.228 287.615 134.226C286.396 134.226 285.181 134.187 283.981 134.11C282.931 134.042 281.892 133.949 280.862 133.823Z"
                              fill="#CBCBCB"/>
                        <path d="M263.454 128.795C262.4 128.299 261.367 127.769 260.355 127.206C260.253 117.878 260.185 111.683 260.185 111.683L261.37 110.959C261.384 110.952 261.399 110.946 261.414 110.94L274.867 102.768L277.689 98.1818L277.704 98.347L278.535 108.015C281.037 116.556 282.858 125.281 283.981 134.11C282.932 134.042 281.892 133.949 280.862 133.823C279.205 133.624 277.568 133.357 275.955 133.012C275.902 133.002 275.843 132.987 275.79 132.978C272.439 132.269 269.161 131.249 266 129.931C265.14 129.572 264.29 129.198 263.454 128.795Z"
                              fill="#092C4C"/>
                        <path d="M306.208 131.083C302.528 132.373 298.722 133.272 294.854 133.765C294.318 130.629 294.121 127.445 294.266 124.267C295.315 107.491 292.896 98.1818 293.946 98.1818L294.48 98.5996L301.082 103.818L309.774 107.005H309.779L315.76 109.196L316.814 109.584V110.085C316.819 111.815 316.828 117.868 316.916 126.02C315.721 126.749 314.498 127.434 313.248 128.076C312.49 128.464 311.727 128.833 310.95 129.183C310.755 129.271 310.556 129.363 310.357 129.446C309.002 130.048 307.617 130.597 306.208 131.083Z"
                              fill="#092C4C"/>
                        <path d="M274.161 83.111C274.161 83.111 275.23 81.2332 274.982 74.9603C274.733 68.6874 284.285 72.2352 292.267 71.6368C300.249 71.0384 298.559 82.1097 298.559 82.1097C298.559 82.1097 299.135 81.4515 300.368 76.1082C301.601 70.7649 298.802 65.4401 298.802 65.4401C297.977 59.8253 293.534 61.6249 293.534 61.6249C295.674 62.4579 295.263 64.239 295.263 64.239C293.452 61.0634 289.009 62.863 289.009 62.863C283.083 59.1444 277.077 64.0413 277.077 64.0413C269.918 65.666 274.117 71.359 274.117 71.359C266.917 74.9971 274.161 83.111 274.161 83.111Z"
                              fill="#092C4C"/>
                        <path d="M254.247 123.29C254.432 119.019 254.514 116.265 254.417 115.881C253.917 113.879 260.748 111.197 261.37 110.959C261.384 110.952 261.398 110.945 261.413 110.94L262.803 111.683L263.454 128.794C262.4 128.299 261.366 127.769 260.354 127.206C258.236 126.034 256.196 124.726 254.247 123.29Z"
                              fill="#092C4C"/>
                        <path d="M316.916 126.021C315.721 126.749 314.498 127.434 313.248 128.076C312.49 128.464 311.727 128.834 310.95 129.183C310.755 129.271 310.556 129.363 310.357 129.446L308.171 107.86L309.449 106.927C309.449 106.927 309.565 106.956 309.774 107.005H309.779C310.804 107.257 313.952 108.093 315.76 109.196C316.163 109.424 316.521 109.726 316.814 110.085C316.993 110.299 317.081 110.574 317.062 110.853C317.004 111.416 317.975 116.76 319.413 124.403C318.597 124.966 317.765 125.506 316.916 126.021Z"
                              fill="#092C4C"/>
                        <path d="M287.615 147.062C294.708 147.062 300.459 141.312 300.459 134.219C300.459 127.125 294.708 121.375 287.615 121.375C280.521 121.375 274.771 127.125 274.771 134.219C274.771 141.312 280.521 147.062 287.615 147.062Z"
                              fill="#F26E22"/>
                        <path d="M286.391 139.64L282.547 134.698L284.782 132.959L286.602 135.299L292.752 128.808L294.808 130.756L286.391 139.64Z"
                              fill="white"/>
                    </g>
                    <g filter="url(#filter1_d_13608_14363)">
                        <path d="M237.393 174.12C237.321 181.156 235.581 188.075 232.317 194.308C229.053 200.542 224.357 205.912 218.615 209.979C218.515 210.049 218.411 210.122 218.308 210.194C218.2 210.271 218.089 210.348 217.977 210.421C217.332 210.867 216.674 211.293 216.003 211.7C215.058 212.277 214.091 212.818 213.103 213.325C213.072 213.341 213.037 213.356 213.007 213.371C212.438 213.663 211.865 213.94 211.286 214.201C211.266 214.209 211.251 214.216 211.232 214.224C211.097 214.286 210.955 214.351 210.817 214.408C209.745 214.885 208.65 215.319 207.537 215.703C206.588 216.037 205.625 216.337 204.648 216.602C202.65 217.153 200.615 217.561 198.559 217.823C196.806 218.049 195.041 218.169 193.274 218.185C193.128 218.188 192.982 218.188 192.836 218.188C191.872 218.188 190.911 218.158 189.962 218.096C189.133 218.042 188.311 217.969 187.496 217.87C186.24 217.72 184.999 217.52 183.778 217.259C183.724 217.251 183.67 217.24 183.616 217.228C183.574 217.22 183.528 217.209 183.486 217.201C182.257 216.944 181.047 216.629 179.86 216.268C178.742 215.93 177.644 215.548 176.568 215.123C176.291 215.015 176.018 214.908 175.746 214.793C175.066 214.508 174.394 214.213 173.733 213.894C173.541 213.805 173.353 213.713 173.164 213.621C172.526 213.31 171.897 212.983 171.282 212.638C170.541 212.227 169.812 211.795 169.096 211.343C168.194 210.775 167.31 210.175 166.453 209.541C158.842 203.95 153.205 196.085 150.354 187.081C147.504 178.077 147.588 168.401 150.593 159.448C153.599 150.495 159.372 142.728 167.078 137.269C174.785 131.809 184.026 128.94 193.469 129.074C217.903 129.413 237.656 149.685 237.393 174.12Z"
                              fill="#F1F1F1"/>
                        <path d="M183.486 217.201C182.257 216.944 181.047 216.629 179.86 216.268L183.935 190.996L188.157 190.865L195.813 190.623L199.739 190.5C199.739 190.5 202.524 202.739 204.648 216.602C202.65 217.153 200.615 217.561 198.559 217.823C196.806 218.049 195.041 218.17 193.274 218.185C193.127 218.188 192.982 218.188 192.836 218.188C191.872 218.188 190.911 218.158 189.962 218.096C189.132 218.042 188.311 217.969 187.496 217.87C186.24 217.72 184.999 217.52 183.778 217.259C183.724 217.251 183.67 217.24 183.616 217.228C183.574 217.22 183.528 217.209 183.486 217.201Z"
                              fill="#CBCBCB"/>
                        <path d="M183.778 217.259C183.724 217.251 183.67 217.24 183.616 217.228C183.574 217.22 183.528 217.209 183.486 217.201C182.257 216.944 181.047 216.629 179.86 216.268C178.742 215.93 177.644 215.548 176.568 215.123C176.291 215.015 176.018 214.908 175.745 214.793C175.066 214.508 174.393 214.213 173.733 213.894C173.541 213.805 173.352 213.713 173.164 213.621L172.826 194.699L183.198 190.254C183.198 190.254 183.232 190.531 188.157 190.865C189.094 193.923 183.778 217.259 183.778 217.259Z"
                              fill="#092C4C"/>
                        <path d="M214.778 193.803L212.822 204.079L213.007 213.371C212.438 213.663 211.865 213.94 211.286 214.201C211.267 214.209 211.251 214.216 211.232 214.224C211.098 214.286 210.955 214.351 210.817 214.408C209.745 214.885 208.651 215.319 207.537 215.703C206.588 216.037 205.625 216.337 204.648 216.602C202.65 217.153 200.615 217.561 198.559 217.823C196.806 218.049 195.041 218.169 193.274 218.184L193.07 201.717C192.64 196.408 194.065 192.897 195.813 190.623C205.128 189.378 204.921 189.267 204.921 189.267L214.797 193.711L214.778 193.803Z"
                              fill="#092C4C"/>
                        <path d="M177.27 196.181L176.567 215.123C176.291 215.015 176.018 214.908 175.745 214.793C175.066 214.508 174.393 214.213 173.733 213.894C173.541 213.805 173.352 213.713 173.164 213.621C172.526 213.31 171.897 212.983 171.282 212.638C170.54 212.227 169.812 211.795 169.096 211.343L172.826 194.699L177.27 196.181Z"
                              fill="#092C4C"/>
                        <path d="M218.615 209.979C218.515 210.049 218.411 210.122 218.308 210.195C218.2 210.271 218.089 210.348 217.977 210.421C217.332 210.867 216.674 211.293 216.003 211.7C215.058 212.277 214.091 212.818 213.102 213.325C213.072 213.341 213.037 213.356 213.006 213.371C212.421 213.672 211.83 213.957 211.233 214.225L211.232 214.224L210.529 195.217L214.777 193.804L214.973 193.738L218.615 209.979Z"
                              fill="#092C4C"/>
                        <path d="M203.438 176.214C205.145 170.391 201.821 164.29 196.013 162.587C190.205 160.884 184.112 164.225 182.405 170.048C180.698 175.871 184.022 181.971 189.83 183.674C195.638 185.377 201.731 182.037 203.438 176.214Z"
                              fill="#9F616A"/>
                        <path d="M181.885 175.886V171.61C181.885 171.61 178.436 167.548 182.23 166.525C182.23 166.525 183.264 156.295 192.23 161.069C192.23 161.069 204.643 159.023 203.264 166.184C203.264 166.184 206.367 164.315 205.333 169.089L203.332 176.779C203.332 176.779 204.298 171.699 201.195 171.017L199.471 169.994C199.471 169.994 194.643 174.768 187.402 168.971C187.402 168.971 184.299 168.23 184.643 171.3C184.988 174.369 181.885 175.886 181.885 175.886Z"
                              fill="#092C4C"/>
                        <path d="M192.836 226.777C198.444 226.777 202.991 222.23 202.991 216.622C202.991 211.013 198.444 206.466 192.836 206.466C187.227 206.466 182.68 211.013 182.68 216.622C182.68 222.23 187.227 226.777 192.836 226.777Z"
                              fill="#F26E22"/>
                        <path d="M191.868 220.908L188.828 217L190.596 215.625L192.035 217.476L196.897 212.344L198.523 213.884L191.868 220.908Z"
                              fill="white"/>
                    </g>
                    <path d="M291.738 260.323C291.563 259.906 291.268 259.549 290.892 259.297C290.516 259.046 290.074 258.91 289.621 258.906H247.368C246.761 258.907 246.179 259.148 245.749 259.578C245.32 260.007 245.078 260.59 245.078 261.197V314.651C245.078 315.258 245.32 315.841 245.749 316.27C246.179 316.7 246.761 316.941 247.368 316.941H289.623C290.23 316.941 290.812 316.699 291.242 316.27C291.671 315.84 291.913 315.258 291.913 314.651V261.197C291.914 260.897 291.855 260.6 291.74 260.323H291.738ZM291.403 314.651C291.403 315.123 291.215 315.576 290.881 315.91C290.547 316.244 290.094 316.432 289.621 316.433H247.368C246.896 316.433 246.443 316.245 246.109 315.911C245.774 315.577 245.587 315.124 245.587 314.651V261.197C245.587 260.725 245.775 260.272 246.109 259.938C246.443 259.604 246.896 259.416 247.368 259.415H289.623C289.979 259.417 290.326 259.524 290.621 259.724C290.915 259.923 291.144 260.206 291.277 260.536C291.303 260.602 291.325 260.669 291.344 260.737C291.384 260.887 291.405 261.042 291.405 261.197L291.403 314.651Z"
                          fill="#E4E4E4"/>
                    <path d="M282.92 271.527H270.193C269.923 271.527 269.664 271.42 269.473 271.229C269.282 271.038 269.175 270.779 269.175 270.509C269.175 270.239 269.282 269.98 269.473 269.789C269.664 269.598 269.923 269.49 270.193 269.49H282.92C283.19 269.49 283.449 269.598 283.64 269.789C283.831 269.98 283.938 270.239 283.938 270.509C283.938 270.779 283.831 271.038 283.64 271.229C283.449 271.42 283.19 271.527 282.92 271.527Z"
                          fill="#F26E22"/>
                    <path d="M282.92 276.872H270.193C269.923 276.872 269.664 276.765 269.473 276.574C269.282 276.383 269.175 276.124 269.175 275.854C269.175 275.584 269.282 275.325 269.473 275.134C269.664 274.943 269.923 274.836 270.193 274.836H282.92C283.19 274.836 283.449 274.943 283.64 275.134C283.831 275.325 283.938 275.584 283.938 275.854C283.938 276.124 283.831 276.383 283.64 276.574C283.449 276.765 283.19 276.872 282.92 276.872Z"
                          fill="#F26E22"/>
                    <path d="M263.663 279.916H254.362C254.058 279.916 253.767 279.795 253.552 279.58C253.337 279.365 253.217 279.074 253.216 278.77V267.794C253.217 267.491 253.337 267.199 253.552 266.985C253.767 266.77 254.058 266.649 254.362 266.649H263.663C263.967 266.649 264.258 266.77 264.473 266.985C264.687 267.199 264.808 267.491 264.808 267.794V278.77C264.808 279.074 264.687 279.365 264.473 279.58C264.258 279.795 263.967 279.916 263.663 279.916Z"
                          fill="#F26E22"/>
                    <path d="M282.832 287.818H254.069C253.798 287.818 253.539 287.71 253.349 287.519C253.158 287.329 253.05 287.07 253.05 286.799C253.05 286.529 253.158 286.27 253.349 286.079C253.539 285.889 253.798 285.781 254.069 285.781H282.832C283.102 285.781 283.361 285.889 283.552 286.079C283.743 286.27 283.85 286.529 283.85 286.799C283.85 287.07 283.743 287.329 283.552 287.519C283.361 287.71 283.102 287.818 282.832 287.818Z"
                          fill="#CCCCCC"/>
                    <path d="M282.832 293.163H254.069C253.798 293.163 253.539 293.056 253.349 292.865C253.158 292.674 253.05 292.415 253.05 292.145C253.05 291.875 253.158 291.616 253.349 291.425C253.539 291.234 253.798 291.127 254.069 291.127H282.832C283.102 291.127 283.361 291.234 283.552 291.425C283.743 291.616 283.85 291.875 283.85 292.145C283.85 292.415 283.743 292.674 283.552 292.865C283.361 293.056 283.102 293.163 282.832 293.163Z"
                          fill="#CCCCCC"/>
                    <path d="M282.832 298.508H254.069C253.798 298.508 253.539 298.401 253.349 298.21C253.158 298.019 253.05 297.76 253.05 297.49C253.05 297.22 253.158 296.961 253.349 296.77C253.539 296.579 253.798 296.472 254.069 296.472H282.832C282.966 296.472 283.098 296.498 283.222 296.55C283.345 296.601 283.457 296.676 283.552 296.77C283.647 296.865 283.722 296.977 283.773 297.101C283.824 297.224 283.85 297.357 283.85 297.49C283.85 297.624 283.824 297.756 283.773 297.88C283.722 298.003 283.647 298.116 283.552 298.21C283.457 298.305 283.345 298.38 283.222 298.431C283.098 298.482 282.966 298.508 282.832 298.508Z"
                          fill="#CCCCCC"/>
                    <path d="M282.832 303.854H254.069C253.798 303.854 253.539 303.747 253.349 303.556C253.158 303.365 253.05 303.106 253.05 302.836C253.05 302.566 253.158 302.307 253.349 302.116C253.539 301.925 253.798 301.817 254.069 301.817H282.832C283.102 301.817 283.361 301.925 283.552 302.116C283.743 302.307 283.85 302.566 283.85 302.836C283.85 303.106 283.743 303.365 283.552 303.556C283.361 303.747 283.102 303.854 282.832 303.854Z"
                          fill="#CCCCCC"/>
                    <path d="M282.832 309.199H254.069C253.798 309.199 253.539 309.092 253.349 308.901C253.158 308.71 253.05 308.451 253.05 308.181C253.05 307.911 253.158 307.652 253.349 307.461C253.539 307.27 253.798 307.163 254.069 307.163H282.832C283.102 307.163 283.361 307.27 283.552 307.461C283.743 307.652 283.85 307.911 283.85 308.181C283.85 308.451 283.743 308.71 283.552 308.901C283.361 309.092 283.102 309.199 282.832 309.199Z"
                          fill="#CCCCCC"/>
                    <g filter="url(#filter2_d_13608_14363)">
                        <path d="M517.064 167.483C517.075 181.848 513.609 196.003 506.961 208.738C500.313 221.473 490.682 232.41 478.889 240.614C475.567 242.939 472.089 245.031 468.479 246.875C467.281 247.49 466.074 248.074 464.845 248.627C463.739 249.134 462.625 249.61 461.495 250.064C447.488 255.735 432.271 257.765 417.266 255.964C414.67 255.657 412.106 255.234 409.576 254.696C409.468 254.673 409.353 254.65 409.246 254.627C403.947 253.507 398.764 251.894 393.765 249.81C378.861 243.624 365.916 233.507 356.312 220.539C346.708 207.572 340.804 192.24 339.231 176.18C337.658 160.12 340.475 143.934 347.381 129.349C354.287 114.765 365.022 102.329 378.443 93.3681C391.863 84.4073 407.464 79.2581 423.582 78.4698C439.699 77.6816 455.729 81.2838 469.959 88.8923C484.19 96.5007 496.088 107.83 504.384 121.671C512.68 135.512 517.063 151.346 517.064 167.483Z"
                              fill="#F1F1F1"/>
                        <path d="M444.355 150.849C444.278 150.757 444.194 150.673 444.109 150.588C439.348 145.78 432.882 143.045 426.115 142.976C419.349 142.907 412.829 145.51 407.97 150.219C407.916 150.265 407.87 150.312 407.824 150.358C407.763 150.411 407.709 150.465 407.655 150.519C405.262 152.906 403.364 155.741 402.069 158.863C400.775 161.985 400.109 165.332 400.111 168.712V184.845C400.112 185.762 400.477 186.64 401.125 187.288C401.773 187.936 402.651 188.301 403.568 188.302H448.127C449.044 188.301 449.922 187.936 450.57 187.288C451.219 186.64 451.583 185.762 451.585 184.845V168.712C451.591 162.044 448.997 155.636 444.355 150.849Z"
                              fill="#092C4C"/>
                        <path d="M426.88 188.143C437.302 188.143 445.75 179.695 445.75 169.273C445.75 158.852 437.302 150.404 426.88 150.404C416.459 150.404 408.011 158.852 408.011 169.273C408.011 179.695 416.459 188.143 426.88 188.143Z"
                              fill="#FFB7B7"/>
                        <path d="M446.714 167.667L444.486 152.102C444.417 151.624 444.174 151.189 443.802 150.88C443.677 150.78 443.54 150.695 443.395 150.627C431.986 145.287 420.416 145.287 409.007 150.611C408.855 150.682 408.713 150.772 408.585 150.88C408.539 150.919 408.493 150.965 408.446 151.011C408.142 151.326 407.952 151.735 407.909 152.171L406.418 167.759C406.393 168.026 406.424 168.295 406.508 168.548C406.593 168.802 406.73 169.036 406.91 169.234C407.2 169.554 407.59 169.765 408.016 169.833C408.12 169.855 408.225 169.866 408.331 169.864H412.111C412.477 169.863 412.834 169.758 413.143 169.563C413.451 169.367 413.698 169.088 413.855 168.758L415.491 165.255C415.596 165.027 415.772 164.841 415.993 164.723C416.213 164.605 416.466 164.562 416.713 164.602C416.96 164.641 417.188 164.759 417.361 164.94C417.534 165.12 417.644 165.352 417.673 165.6L417.996 168.182C418.056 168.645 418.282 169.072 418.632 169.381C418.983 169.691 419.434 169.862 419.901 169.864H444.816C445.142 169.866 445.463 169.781 445.746 169.618C445.943 169.511 446.119 169.371 446.268 169.203C446.448 168.994 446.581 168.749 446.658 168.484C446.735 168.219 446.754 167.94 446.714 167.667Z"
                              fill="#092C4C"/>
                        <path d="M473.542 222.713L478.889 240.614C475.567 242.939 472.089 245.031 468.479 246.875C467.28 247.49 466.074 248.074 464.845 248.627L459.306 224.88L457.155 215.668L470.983 214.132L473.542 222.713Z"
                              fill="#FFB7B7"/>
                        <path d="M409.906 219.74L409.445 243.925L409.245 254.627C403.946 253.507 398.764 251.894 393.764 249.81L395.601 226.9L396.062 221.123L409.906 219.74Z"
                              fill="#FFB7B7"/>
                        <path d="M473.542 222.713L459.651 224.795L459.82 227.077L461.495 250.064C447.487 255.736 432.271 257.765 417.266 255.964C414.669 255.657 412.106 255.234 409.575 254.696C410.712 249.918 411.696 245.616 410.482 244.77C410.116 244.514 409.77 244.232 409.445 243.925C403.783 238.524 405.873 226.332 405.873 226.332L395.601 226.901L392.044 227.1C392.044 227.1 393.58 202.516 400.495 202.516H408.946L449.664 198.674C449.664 198.674 461.188 194.833 464.261 200.211C465.874 203.03 468.748 209.007 471.122 214.063C473.273 218.657 475.017 222.491 475.017 222.491L473.542 222.713Z"
                              fill="#092C4C"/>
                        <path d="M427.945 275.363C439.162 275.363 448.255 266.27 448.255 255.053C448.255 243.836 439.162 234.743 427.945 234.743C416.728 234.743 407.635 243.836 407.635 255.053C407.635 266.27 416.728 275.363 427.945 275.363Z"
                              fill="#F26E22"/>
                        <path d="M426.01 263.627L419.93 255.81L423.466 253.061L426.344 256.761L436.068 246.497L439.319 249.577L426.01 263.627Z"
                              fill="white"/>
                    </g>
                    <path d="M209.248 271.836L208.775 272.001L182.263 281.28L181.791 281.445L181.626 280.973L178.376 271.687C177.111 268.072 177.344 264.098 179.023 260.642C180.703 257.185 183.691 254.529 187.329 253.255C190.967 251.982 194.96 252.196 198.428 253.85C201.896 255.505 204.556 258.466 205.822 262.082L209.248 271.836ZM209.248 271.836L209.082 271.363L205.822 262.082L209.248 271.836ZM213.586 269.787L213.752 270.259L214.223 270.094L218.906 268.455C218.907 268.455 218.907 268.455 218.907 268.455C220.851 267.782 222.979 267.9 224.827 268.782C226.676 269.665 228.094 271.24 228.772 273.163L241.773 310.309C242.441 312.236 242.315 314.351 241.42 316.194C240.525 318.036 238.935 319.456 236.995 320.141L190.224 336.51C188.28 337.184 186.151 337.066 184.302 336.184C182.453 335.302 181.034 333.727 180.354 331.804L167.354 294.657C166.686 292.73 166.813 290.614 167.709 288.772C168.604 286.929 170.195 285.51 172.134 284.824C172.135 284.824 172.135 284.824 172.135 284.824L176.807 283.189L177.279 283.024L177.114 282.552L173.865 273.267C173.034 270.869 172.689 268.329 172.851 265.793C173.012 263.257 173.676 260.775 174.805 258.491C175.934 256.206 177.506 254.165 179.43 252.483C181.353 250.802 183.591 249.515 186.013 248.695C196.071 245.344 206.945 250.811 210.424 260.753L213.586 269.787ZM209.764 316.825L209.764 316.825L209.776 316.82C210.581 316.47 211.225 315.83 211.576 315.028C211.927 314.226 211.959 313.323 211.666 312.5L207.109 299.477C208.112 298.376 208.743 296.986 208.909 295.505C209.086 293.919 208.718 292.322 207.864 290.975C207.01 289.629 205.721 288.612 204.209 288.091C202.697 287.57 201.05 287.575 199.537 288.104C198.024 288.634 196.733 289.657 195.876 291.007C195.019 292.358 194.645 293.956 194.818 295.541C194.99 297.127 195.698 298.605 196.825 299.734C197.878 300.789 199.238 301.481 200.709 301.717L205.294 314.816C205.445 315.248 205.683 315.644 205.992 315.98C206.302 316.317 206.677 316.587 207.095 316.775C207.513 316.962 207.965 317.063 208.424 317.072C208.883 317.08 209.338 316.996 209.764 316.825Z"
                          fill="#F26E22" fill-opacity="0.7" stroke="#F26E22"/>
                    <g clip-path="url(#clip0_13608_14363)">
                        <path d="M412.8 564.904C406.938 559.951 403.377 552.126 404.311 544.508C405.244 536.89 411.028 529.887 418.531 528.269C426.033 526.652 434.585 531.13 436.864 538.458C438.118 524.329 439.563 509.608 447.075 497.575C453.877 486.68 465.659 478.884 478.427 477.489C491.195 476.094 504.638 481.362 512.601 491.44C520.564 501.518 522.514 516.169 516.937 527.739C512.829 536.262 505.259 542.605 497.329 547.766C471.702 564.301 440.965 571.025 410.775 566.701L412.8 564.904Z"
                              fill="#F2F2F2" fill-opacity="0.6"/>
                        <path d="M499.975 481.654C489.44 490.235 479.775 499.833 471.12 510.307C457.574 526.644 446.614 544.961 438.619 564.619C438.034 566.053 440.362 566.678 440.941 565.259C454.022 533.311 474.904 505.151 501.678 483.357C502.88 482.378 501.167 480.683 499.975 481.654Z"
                              fill="white" fill-opacity="0.5"/>
                        <path d="M209.632 563.558C217.683 556.755 222.574 546.007 221.291 535.544C220.009 525.081 212.065 515.462 201.76 513.24C191.456 511.019 179.709 517.169 176.58 527.235C174.857 507.828 172.872 487.608 162.554 471.082C153.212 456.117 137.03 445.409 119.493 443.494C101.956 441.578 83.4914 448.813 72.5541 462.655C61.6168 476.497 58.9388 496.62 66.599 512.512C72.242 524.218 82.6384 532.931 93.5312 540.019C128.283 562.632 171.393 572.063 212.412 566.026"
                              fill="#F2F2F2" fill-opacity="0.6"/>
                        <path d="M89.8964 449.214C104.367 461 117.642 474.182 129.529 488.57C141.419 502.942 151.886 518.434 160.785 534.827C165.759 544.023 170.227 553.484 174.169 563.167C174.973 565.137 171.774 565.994 170.979 564.046C163.996 546.975 155.357 530.629 145.186 515.243C135.063 499.913 123.478 485.601 110.592 472.508C103.304 465.106 95.6139 458.111 87.5574 451.553C85.9061 450.208 88.2587 447.881 89.8964 449.214L89.8964 449.214Z"
                              fill="white" fill-opacity="0.5"/>
                        <path d="M390.909 567.401H198.807V370.298C198.807 328.363 232.923 294.247 274.858 294.247H314.858C356.793 294.247 390.909 328.363 390.909 370.298V567.401Z"
                              fill="#F2F2F2"/>
                        <path d="M350.91 567.401H198.807V370.298C198.765 354.23 203.853 338.567 213.331 325.591C213.68 325.115 214.029 324.645 214.388 324.18C218.972 318.168 224.428 312.873 230.574 308.47C230.921 308.217 231.27 307.969 231.624 307.721C236.767 304.161 242.33 301.252 248.188 299.058C248.536 298.926 248.89 298.794 249.244 298.668C254.541 296.777 260.033 295.482 265.616 294.807C265.963 294.759 266.318 294.722 266.673 294.685C272.115 294.103 277.603 294.103 283.044 294.685C283.399 294.722 283.754 294.759 284.105 294.807C289.687 295.483 295.177 296.777 300.473 298.668C300.827 298.794 301.181 298.926 301.53 299.058C307.315 301.224 312.813 304.091 317.902 307.593C318.255 307.836 318.609 308.084 318.958 308.332C322.403 310.792 325.639 313.531 328.633 316.524C331.034 318.924 333.271 321.482 335.33 324.182C335.688 324.645 336.037 325.115 336.385 325.591C345.863 338.567 350.952 354.23 350.91 370.298V567.401Z"
                              fill="#CCCCCC"/>
                        <path d="M338.542 479.244C343.193 479.244 346.963 475.474 346.963 470.823C346.963 466.172 343.193 462.402 338.542 462.402C333.891 462.402 330.121 466.172 330.121 470.823C330.121 475.474 333.891 479.244 338.542 479.244Z"
                              fill="#F26E22"/>
                        <path d="M375.172 561.497H368.72L365.65 536.609L375.173 536.61L375.172 561.497Z"
                              fill="#FFB8B8"/>
                        <path d="M364.111 559.653H376.555V567.488H356.276C356.276 566.46 356.478 565.441 356.872 564.49C357.266 563.54 357.843 562.676 358.57 561.948C359.298 561.221 360.162 560.644 361.112 560.25C362.063 559.856 363.082 559.653 364.111 559.653Z"
                              fill="#073359"/>
                        <path d="M407.277 561.497H400.825L397.755 536.609L407.278 536.61L407.277 561.497Z"
                              fill="#FFB8B8"/>
                        <path d="M396.215 559.653H408.659V567.488H388.38C388.38 566.46 388.583 565.441 388.977 564.49C389.371 563.54 389.948 562.676 390.675 561.948C391.403 561.221 392.267 560.644 393.217 560.25C394.168 559.856 395.187 559.653 396.215 559.653Z"
                              fill="#073359"/>
                        <path d="M342.803 472.491C342.339 471.807 342.031 471.03 341.899 470.214C341.768 469.398 341.817 468.563 342.044 467.768C342.27 466.973 342.668 466.237 343.209 465.613C343.751 464.988 344.423 464.49 345.177 464.153L367.112 403.698L377.905 409.588L352.86 467.361C353.342 468.667 353.329 470.104 352.822 471.4C352.315 472.696 351.35 473.761 350.111 474.393C348.871 475.026 347.442 475.181 346.096 474.831C344.749 474.48 343.577 473.648 342.803 472.491Z"
                              fill="#FFB8B8"/>
                        <path d="M403.981 483.851C403.264 483.44 402.646 482.877 402.17 482.201C401.694 481.525 401.372 480.753 401.227 479.939C401.082 479.125 401.117 478.29 401.33 477.491C401.542 476.692 401.928 475.95 402.458 475.316L395.663 411.365L407.946 411.926L410.77 474.831C411.776 475.793 412.393 477.09 412.506 478.477C412.619 479.864 412.219 481.245 411.382 482.356C410.545 483.468 409.33 484.235 407.966 484.51C406.602 484.786 405.184 484.551 403.981 483.851Z"
                              fill="#FFB8B8"/>
                        <path d="M384.386 392.5C391.525 392.5 397.313 386.712 397.313 379.573C397.313 372.434 391.525 366.647 384.386 366.647C377.247 366.647 371.459 372.434 371.459 379.573C371.459 386.712 377.247 392.5 384.386 392.5Z"
                              fill="#FFB8B8"/>
                        <path d="M403.898 469.307H364.927L364.974 469.004C365.044 468.55 371.919 423.51 366.848 408.775C366.34 407.327 366.384 405.742 366.974 404.325C367.564 402.908 368.657 401.759 370.043 401.099H370.043C377.291 397.686 391.204 393.483 402.948 403.683C404.676 405.209 406.025 407.116 406.889 409.253C407.753 411.39 408.108 413.699 407.926 415.997L403.898 469.307Z"
                              fill="#F26E22"/>
                        <path d="M372.412 430.166L354.867 426.607L363.091 407.118C363.583 405.23 364.804 403.615 366.485 402.626C368.167 401.637 370.172 401.356 372.061 401.843C373.95 402.331 375.568 403.548 376.561 405.227C377.554 406.906 377.84 408.91 377.357 410.8L372.412 430.166Z"
                              fill="#F26E22"/>
                        <path d="M394.883 436.775L393.828 412.596C393.028 408.051 395.63 403.754 399.632 403.052C403.635 402.352 407.543 405.504 408.347 410.083L412.312 432.676L394.883 436.775Z"
                              fill="#F26E22"/>
                        <path d="M402.602 466.412C408.873 490.294 409.557 520.658 407.865 553.779L399.444 552.727L384.181 489.57L375.76 553.779L366.287 553.253C363.456 518.501 360.701 488.667 365.234 469.044L402.602 466.412Z"
                              fill="#073359"/>
                        <path d="M392.904 389.563C390.492 392.132 386.014 390.753 385.699 387.244C385.675 386.971 385.676 386.697 385.705 386.425C385.867 384.871 386.765 383.459 386.55 381.818C386.501 381.409 386.349 381.02 386.108 380.687C384.186 378.114 379.675 381.838 377.861 379.508C376.749 378.08 378.057 375.831 377.203 374.235C376.077 372.127 372.741 373.167 370.649 372.013C368.321 370.729 368.46 367.158 369.992 364.985C371.861 362.336 375.137 360.922 378.373 360.719C381.608 360.515 384.822 361.39 387.842 362.567C391.275 363.904 394.678 365.753 396.79 368.771C399.358 372.441 399.606 377.375 398.321 381.666C397.54 384.277 394.873 387.466 392.904 389.563Z"
                              fill="#073359"/>
                        <path d="M504.319 567.739H115.749C115.583 567.739 115.424 567.673 115.307 567.555C115.19 567.438 115.124 567.279 115.124 567.113C115.124 566.947 115.19 566.788 115.307 566.67C115.424 566.553 115.583 566.487 115.749 566.486H504.319C504.485 566.487 504.644 566.553 504.761 566.67C504.878 566.788 504.944 566.947 504.944 567.113C504.944 567.279 504.878 567.438 504.761 567.555C504.644 567.673 504.485 567.739 504.319 567.739Z"
                              fill="#073359"/>
                        <path d="M309.069 510.296H240.649C239.747 510.301 238.881 509.948 238.24 509.315C237.599 508.682 237.235 507.821 237.228 506.92V354.201C237.235 353.3 237.599 352.439 238.24 351.806C238.881 351.173 239.747 350.82 240.649 350.825H309.069C309.97 350.82 310.836 351.173 311.477 351.806C312.119 352.439 312.483 353.3 312.49 354.201V506.92C312.483 507.821 312.119 508.682 311.477 509.315C310.836 509.948 309.97 510.301 309.069 510.296Z"
                              fill="white"/>
                        <path d="M312.489 400.24H237.227V401.292H312.489V400.24Z" fill="#CCCCCC"/>
                        <path d="M312.752 460.297H237.49V461.35H312.752V460.297Z" fill="#CCCCCC"/>
                        <path d="M261.964 350.825H260.911V510.823H261.964V350.825Z" fill="#CCCCCC"/>
                        <path d="M288.279 350.825H287.227V510.823H288.279V350.825Z" fill="#CCCCCC"/>
                        <path d="M490.459 336L505.11 344.492L496.651 359.2L482 350.708L490.459 336Z" fill="#04668C"/>
                    </g>
                    <path d="M84.1257 258.138C81.6185 258.138 79.1676 257.395 77.083 256.002C74.9984 254.609 73.3736 252.629 72.4142 250.313C71.4547 247.997 71.2037 245.448 71.6928 242.989C72.1819 240.53 73.3892 238.271 75.1621 236.498C76.9349 234.725 79.1936 233.518 81.6526 233.029C84.1116 232.54 86.6604 232.791 88.9767 233.75C91.293 234.71 93.2728 236.335 94.6657 238.419C96.0586 240.504 96.8021 242.955 96.8021 245.462C96.7983 248.823 95.4615 252.045 93.0851 254.421C90.7086 256.798 87.4865 258.134 84.1257 258.138ZM84.1257 233.66C81.7914 233.66 79.5096 234.352 77.5687 235.649C75.6278 236.946 74.1151 238.789 73.2218 240.945C72.3286 243.102 72.0948 245.475 72.5502 247.764C73.0056 250.054 74.1297 252.157 75.7802 253.807C77.4308 255.458 79.5338 256.582 81.8232 257.037C84.1126 257.493 86.4856 257.259 88.6422 256.366C90.7987 255.472 92.642 253.96 93.9388 252.019C95.2357 250.078 95.9278 247.796 95.9278 245.462C95.9243 242.333 94.6797 239.333 92.4671 237.12C90.2546 234.908 87.2547 233.663 84.1257 233.66Z"
                          fill="#3F3D56" fill-opacity="0.5"/>
                    <path d="M89.0498 252.182C88.7179 252.182 88.3995 252.05 88.1646 251.816C87.9297 251.581 87.7975 251.263 87.797 250.931V243.818C87.7974 243.487 87.9292 243.169 88.1637 242.935C88.3981 242.7 88.716 242.568 89.0476 242.568H89.0498C89.3814 242.568 89.6993 242.7 89.9337 242.935C90.1682 243.169 90.3 243.487 90.3004 243.818V250.931C90.3 251.263 90.1682 251.58 89.9337 251.815C89.6993 252.049 89.3814 252.181 89.0498 252.182ZM85.7844 252.182C85.6188 252.183 85.4546 252.152 85.3011 252.09C85.1476 252.028 85.0079 251.936 84.89 251.82C84.7721 251.704 84.6784 251.565 84.6142 251.413C84.5499 251.26 84.5165 251.097 84.5158 250.931V247.1C84.5162 246.768 84.6481 246.45 84.8825 246.216C85.117 245.981 85.4348 245.849 85.7664 245.849H85.7844C86.116 245.849 86.4338 245.981 86.6683 246.216C86.9027 246.45 87.0346 246.768 87.035 247.1V250.931C87.0346 251.263 86.9027 251.58 86.6683 251.815C86.4338 252.049 86.116 252.181 85.7844 252.182ZM82.4875 252.182C82.1555 252.182 81.8372 252.05 81.6023 251.816C81.3674 251.581 81.2351 251.263 81.2346 250.931V239.993C81.235 239.661 81.3669 239.343 81.6013 239.109C81.8358 238.874 82.1537 238.742 82.4852 238.742H82.4875C82.819 238.742 83.1369 238.874 83.3714 239.109C83.6058 239.343 83.7377 239.661 83.738 239.993V250.931C83.7377 251.263 83.6058 251.58 83.3714 251.815C83.1369 252.049 82.819 252.181 82.4875 252.182ZM79.2031 252.182C79.0386 252.182 78.8758 252.15 78.7238 252.087C78.5719 252.024 78.4338 251.932 78.3176 251.815C78.2013 251.699 78.1091 251.561 78.0462 251.409C77.9833 251.257 77.951 251.094 77.9512 250.93L77.9526 249.287C77.9527 248.955 78.0846 248.637 78.3192 248.403C78.5538 248.169 78.872 248.037 79.2036 248.037C79.5353 248.037 79.8533 248.169 80.0877 248.404C80.3222 248.638 80.4538 248.957 80.4536 249.288V250.931C80.4533 251.263 80.3214 251.58 80.087 251.815C79.8525 252.049 79.5346 252.181 79.2031 252.182Z"
                          fill="#F26E22" fill-opacity="0.5"/>
                    <path d="M114.856 258.138C112.349 258.138 109.898 257.395 107.814 256.002C105.729 254.609 104.104 252.629 103.145 250.313C102.185 247.997 101.934 245.448 102.424 242.989C102.913 240.53 104.12 238.271 105.893 236.498C107.666 234.725 109.924 233.518 112.383 233.029C114.842 232.54 117.391 232.791 119.707 233.75C122.024 234.71 124.004 236.335 125.396 238.419C126.789 240.504 127.533 242.955 127.533 245.462C127.529 248.823 126.192 252.045 123.816 254.421C121.439 256.798 118.217 258.134 114.856 258.138ZM114.856 233.66C112.522 233.66 110.24 234.352 108.299 235.649C106.359 236.946 104.846 238.789 103.953 240.945C103.059 243.102 102.826 245.475 103.281 247.764C103.736 250.054 104.86 252.157 106.511 253.807C108.162 255.458 110.264 256.582 112.554 257.037C114.843 257.493 117.216 257.259 119.373 256.366C121.529 255.472 123.373 253.96 124.67 252.019C125.966 250.078 126.659 247.796 126.659 245.462C126.655 242.333 125.41 239.333 123.198 237.12C120.985 234.908 117.985 233.663 114.856 233.66Z"
                          fill="#3F3D56" fill-opacity="0.5"/>
                    <path d="M108.122 250.057C107.939 250.057 107.761 250.003 107.61 249.902C107.458 249.801 107.34 249.657 107.27 249.488C107.201 249.32 107.182 249.135 107.217 248.956C107.253 248.778 107.34 248.613 107.469 248.484L112.153 243.787C112.226 243.714 112.312 243.656 112.408 243.616C112.504 243.576 112.606 243.556 112.71 243.556H112.71C112.814 243.556 112.916 243.576 113.012 243.616C113.107 243.655 113.194 243.713 113.267 243.787L115.439 245.959C115.483 246.003 115.535 246.038 115.592 246.062C115.65 246.085 115.711 246.097 115.773 246.097H115.773C115.835 246.097 115.897 246.085 115.954 246.062C116.012 246.038 116.064 246.003 116.107 245.959L119.174 242.887C119.189 242.872 119.2 242.855 119.208 242.836C119.216 242.816 119.22 242.796 119.22 242.775C119.22 242.755 119.216 242.734 119.208 242.715C119.2 242.696 119.189 242.679 119.174 242.664L118.182 241.673C118.116 241.607 118.07 241.523 118.052 241.432C118.034 241.34 118.043 241.245 118.079 241.159C118.115 241.072 118.175 240.998 118.253 240.946C118.331 240.894 118.422 240.867 118.515 240.867H122.04C122.165 240.867 122.285 240.917 122.374 241.005C122.462 241.094 122.512 241.214 122.512 241.339V244.861C122.512 244.955 122.485 245.046 122.433 245.124C122.381 245.202 122.307 245.262 122.221 245.298C122.134 245.334 122.039 245.343 121.948 245.325C121.856 245.307 121.772 245.262 121.706 245.195L120.712 244.202C120.697 244.187 120.68 244.175 120.661 244.167C120.642 244.16 120.621 244.155 120.601 244.155C120.58 244.155 120.56 244.16 120.541 244.167C120.521 244.175 120.504 244.187 120.489 244.202L116.336 248.352C116.264 248.425 116.177 248.483 116.081 248.523C115.986 248.562 115.883 248.583 115.78 248.582H115.78C115.676 248.583 115.574 248.562 115.478 248.523C115.383 248.483 115.296 248.425 115.223 248.352L113.05 246.178C112.96 246.092 112.84 246.045 112.716 246.045C112.591 246.045 112.472 246.092 112.382 246.178L108.773 249.787C108.688 249.873 108.586 249.941 108.474 249.987C108.363 250.034 108.243 250.057 108.122 250.057Z"
                          fill="#F26E22" fill-opacity="0.5"/>
                    <defs>
                        <filter id="filter0_d_13608_14363" x="227.249" y="21.5115" width="120.723" height="133.551"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_13608_14363"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_13608_14363"
                                     result="shape"/>
                        </filter>
                        <filter id="filter1_d_13608_14363" x="144.276" y="129.069" width="97.1191" height="105.708"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_13608_14363"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_13608_14363"
                                     result="shape"/>
                        </filter>
                        <filter id="filter2_d_13608_14363" x="334.807" y="78.3634" width="186.257" height="205"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_13608_14363"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_13608_14363"
                                     result="shape"/>
                        </filter>
                        <clipPath id="clip0_13608_14363">
                            <rect width="457.888" height="273.753" fill="white" transform="translate(62.23 294.247)"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
{% endblock %}
