{% extends 'base.html.twig' %}

{% block title %}{{ 'reset-password.title'|trans }}{% endblock %}

{% block body %}
    <div class="login">
        <div class="login__box">
            <div class="box-elevations box-elevations--login">
                <h2>{{ 'reset-password.title'|trans }}</h2>
                <p class="u-txt-size-l u-mtl">{{ 'reset-password.description'|trans }}</p>
                <div class="box__cta--column u-mb0">
                    <form method="post">
                        {% if errorMessage %}
                            <div class="alert alert-danger">{{ errorMessage }}</div>
                        {% endif %}

                        <label for="inputFirstPassword">{{ 'reset-password.form.firstPassword.label'|trans }}</label>
                        <input type="password" name="first_password" id="inputFirstPassword" class="form-control" required autofocus>
                        <label for="inputSecondPassword">{{ 'reset-password.form.secondPassword.label'|trans }}</label>
                        <input type="password" name="second_password" id="inputSecondPassword" class="form-control" required>

                        <input type="hidden" name="confirmation_token"
                               value="{{ confirmation_token }}"
                        >

                        <div class="col-md-12 box-elevations-wrapper--center u-pb0 u-mtb">
                            <button type="submit" class="button button-primary button--large">
                                {{ 'reset-password.form.submit'|trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
